<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.xiirpl505152535.islamiccentre_ic">

    <application
        android:allowBackup="true"
        android:icon="@drawable/alquran"
        android:label="Islamic Center"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".doa.doa" />
        <activity android:name=".doa.sebelummakan" />
        <activity android:name=".doa.sesudahmakan" />
        <activity android:name=".doa.sebelumtidur" />
        <activity android:name=".doa.sesudahtidur" />
        <activity android:name=".doa.masukwc" />
        <activity android:name=".doa.keluarwc" />
        <activity android:name=".doa.akanmandi" />
        <activity android:name=".doa.bercermin" />
        <activity android:name=".doa.masukrumah" />
        <activity android:name=".doa.keluarrumah" />
        <activity android:name=".doa.sebelumwudhu" />
        <activity android:name=".doa.selesaiwudhu" />
        <activity android:name=".doa.akanmembacaquran" />
        <activity android:name=".doa.melihatkilat" />
        <activity android:name=".doa.mendengarpetir" />
        <activity android:name=".doa.menjengukorangsakit" />
        <activity android:name=".doa.mendapatmimipibaik" />
        <activity android:name=".doa.turunhujan" />
        <activity android:name=".doa.setelahhujan" />
        <activity android:name=".Tajwid" />
        <activity android:name=".Hijaiyah" />
        <activity android:name=".Asmaulhusna" />
        <activity android:name=".hadist" />
        <activity android:name=".alquran" />
        <activity android:name=".alquran.alquran" />
        <activity android:name=".alquran.a_alfatihah" />
        <activity
            android:name=".alquran.b_albaqarah"
            android:label="@string/title_activity_b_albaqarah"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".alquran.c_alimran" />
        <activity android:name=".alquran.d_annisa" />
        <activity android:name=".alquran.e_almaaidah" />
        <activity android:name=".alquran.f_alanam" />
        <activity android:name=".alquran.g_alaraf" />
        <activity android:name=".alquran.h_alanfal" />
        <activity android:name=".alquran.i_attawbah" />
        <activity android:name=".alquran.j_yunus" />
        <activity android:name=".alquran.k_hud" />
        <activity android:name=".alquran.l_yusuf" />
        <activity android:name=".alquran.m_arrad" />
        <activity android:name=".alquran.n_ibrahim" />
        <activity android:name=".alquran.o_alhijr" />
        <activity android:name=".alquran.p_annahl" />
        <activity android:name=".alquran.q_alisra" />
        <activity android:name=".alquran.r_alkahfi" />
        <activity android:name=".alquran.s_maryam" />
        <activity android:name=".alquran.t_taha" />
        <activity android:name=".alquran.u_alanbiya" />
        <activity android:name=".alquran.v_alhajj" />
        <activity android:name=".alquran.w_almuminun" />
        <activity android:name=".alquran.x_annur" />
        <activity android:name=".alquran.y_alfurqan" />
        <activity android:name=".alquran.z_asysyuara" />
        <activity android:name=".alquran.aa_annaml" />
        <activity android:name=".alquran.ab_alqossos" />
        <activity android:name=".alquran.ac_alankabut" />
        <activity android:name=".alquran.ad_arrum"></activity>
    </application>

</manifest>