<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="id.sch.smktelkom_mlg.xiirpl505152535.islamiccentre_ic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".doa.doa" />
        <activity android:name=".doa.sebelummakan" />
        <activity android:name=".doa.sesudahmakan" />
        <activity android:name=".doa.sebelumtidur" />
        <activity android:name=".doa.sesudahtidur" />
        <activity android:name=".doa.masukwc" />
        <activity android:name=".doa.keluarwc" />
        <activity android:name=".doa.akanmandi" />
        <activity android:name=".doa.bercermin" />
        <activity android:name=".doa.masukrumah" />
        <activity android:name=".doa.keluarrumah" />
        <activity android:name=".doa.sebelumwudhu" />
        <activity android:name=".doa.selesaiwudhu" />
        <activity android:name=".doa.akanmembacaquran" />
        <activity android:name=".doa.melihatkilat" />
        <activity android:name=".doa.mendengarpetir" />
        <activity android:name=".doa.menjengukorangsakit" />
        <activity android:name=".doa.mendapatmimipibaik" />
        <activity android:name=".doa.turunhujan" />
        <activity android:name=".doa.setelahhujan" />
        <activity android:name=".tajwid.tajwid" />
        <activity android:name=".Hijaiyah" />
        <activity android:name=".Asmaulhusna" />
        <activity android:name=".hadist.hadist" />
        <activity android:name=".alquran" />
        <activity android:name=".hadist.Kebersihan" />
        <activity android:name=".hadist.Niat" />
        <activity android:name=".hadist.MenutupAurat" />
        <activity android:name=".hadist.SalingMenyayangi" />
        <activity android:name=".hadist.Agama" />
        <activity android:name=".hadist.MenuntutIlmu" />
        <activity android:name=".hadist.BerkataBaik" />
        <activity android:name=".hadist.Malu" />
        <activity android:name=".hadist.MenyebarkanSalam" />
        <activity android:name=".hadist.KemuliaanIbu" />
        <activity android:name=".hadist.KeutamaanBelajarAlquran" />
        <activity android:name=".hadist.MahaIndah" />
        <activity android:name=".hadist.SholatTepatWaktu" />
        <activity android:name=".hadist.KeutamaanDoa" />
        <activity android:name=".hadist.TolongMenolong"></activity>
    </application>

</manifest>